@import "~bootstrap/scss/bootstrap";
/* Typography */
body,
ul,
li,
p,
a,
label,
input,
div {
    font-family: "Roboto", sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
}
.h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}
.h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}
.h3 {
    font-family: "Roboto", sans-serif;
    font-size: 22px !important;
}
